[MitkFileConverter]
preferred-source = MITK
appName = MitkFileConverter

[MitkFuse3Dto4DImageMiniApp]
preferred-source = MITK
appName = MitkFuse3Dto4DImageMiniApp

[MitkMapImageMiniApp]
preferred-source = MITK
appName = MitkMapImage

[MitkMatchImageMiniApp]
preferred-source = MITK
appName = MitkMatchImage

[MitkStitchImagesMiniApp]
preferred-source = MITK
appName = MitkStichImages
