[BioModelCalc]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/BioModelCalc/trunk

[combineR]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/combineR/trunk

[DoseAcc]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/DoseAcc/trunk

[DoseMap]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/DoseMap/trunk

[DoseTool]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/DoseTool/trunk

[mapR]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/mapR/trunk

[matchR]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/matchR/trunk

[pdc++]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/pdc++/trunk

[RegTool]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/RegTool/trunk

[RegVarTool]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/RegVarTool/trunk

[CLIDummy]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/CLIDummy/trunk

[plastimatch]
preferred-source = svn
svn = https://svn.inet.dkfz-heidelberg.de/sbr/Sources/SBR-Projects/AVIDTools/plastimatch/trunk