[Windows]
url = https://www.mitk.org/download/releases/MITK-2024.12/Windows/MITK-v2024.12-windows-x86_64.zip
[Linux]
url = https://www.mitk.org/download/releases/MITK-2024.12/Ubuntu%2020.04/MITK-v2024.12-linux-x86_64.tar.gz
[Darwin]
url = https://www.mitk.org/download/releases/MITK-2024.12/macOS%20Monterey/MITK-v2024.12-macos-x86_64.dmg