[MitkFileConverter]
executableName = MitkFileConverter

[MitkFuse3Dto4DImage]
executableName = MitkFuse3Dto4DImage

[MitkMapImage]
executableName = MitkMapImage

[MitkMatchImage]
executableName = MitkMatchImage

[MitkStitchImages]
executableName = MitkStitchImages

[MitkSplit4Dto3DImages]
executableName = MitkSplit4Dto3DImages
