[MitkFileConverter]
executableName = MitkFileConverter

[MitkFuse3Dto4DImageMiniApp]
executableName = MitkFuse3Dto4DImageMiniApp

[MitkMapImageMiniApp]
executableName = MitkMapImage

[MitkMatchImageMiniApp]
executableName = MitkMatchImage

[MitkStitchImagesMiniApp]
executableName = MitkStitchImages
